@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form action="">
        <input type="file">
        <input type="submit">
    </form>

    <img src="https://www.goodfood.com.au/content/dam/images/h/1/v/m/6/n/image.related.wideLandscape.460x259.h1vgpj.png/1620349377081.jpg" alt="Italian Trulli">

</div>
