@{
    Layout = null;
}
<script>
    
    var current_item = -1;
    var last_created = '';
    var order = [
        'Email',
        'Password',
        'ConfirmPassword'//,
       // 'read_username'
    ]
    function previous() {
        if (current_item > 0) {
            if (last_created!='')
                document.getElementById(last_created).remove();
            current_item--;
            read_data(order[current_item]);
        }
    }
    function next() {
        if (current_item < order.length-1) {
            if (last_created != '')
                document.getElementById(last_created).remove();
            current_item++;
            read_data(order[current_item]);
        }
    }
    function read_data(area) {
        var check = document.getElementById(area);
        if (check == null || typeof (check) == 'undefined') { // checks if element already exists
            var obj = document.createElement("input");
            obj.setAttribute('asp-for', area);
            obj.type = 'text', obj.value = area, obj.id = area;
            last_created = obj.id;
            document.body.appendChild(obj);
        }
    }
    
    
</script>
<body onload="next();">
<p onclick="read_email()">Register</p>
<a onclick="previous()">previous</a>
<a onclick="next()">next</a>
</body>